body {
    background-image: url("https://i.imgur.com/G4nomNL.jpg");
    background-size: cover;
}

p {
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
}

#frontpageparagraph {
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
}

#frontpageicon {
    font-family: serif;
    font-size: 70px;
    text-align: center;
    color: #d9d9d9;
    text-decoration-line: none;
    position: relative;
}

#copyright {
    position: relative;
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
    top: 90px;
}

.none {
    width: 700px;
    height: 890px;
    margin: auto;
    margin-top: 40px;
}

.box {
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
}

#frontpagebox {
    overflow: hidden;
    width: 700px;
    height: 890px;
    margin: auto;
    margin-top: 40px;
}

#none2 {
    width: 640px;
    height: 480px;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#page2box1 {
    position: relative;
    width: 500px;
    overflow: hidden;
    bottom: 70px;
    right: 80px;
    height: 388px;
}
    
#page2image1 {
    background-color: #1a1a1a; 
    border-style: double; 
    border-color: #d9d9d9;
}

#contbox {
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
    width: 130px;
    height: 50px;
    position: absolute;
    left: 720px;
    bottom: 140px;
    padding: 0;
}

#conttext {
    font-size: 17px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}

#globe {
    display: block;
    margin: auto;
    position: relative;
    top: 60px;
}

a:hover {
    background-color: #d9d9d9;
    color: #1a1a1a;
}

a {
    text-decoration: none;
    color: #d9d9d9;
}

#links {
    padding-left: 0;
    font-family: monospace;
    color: #d9d9d9;
    list-style-type: none;
    line-height: 50px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
}

.underline {
  border-bottom: 1px dashed #d9d9d9;
  display: inline;
}