body {
    background-image: url("https://i.imgur.com/G4nomNL.jpg");
    background-size: auto;
}

p {
    font-family: serif;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
}

h1 {
    font-family: serif;
    text-align: center;
    color: #d9d9d9;
    text-decoration-line: underline;
}

div {
    width: 800px;
    height: 90.4vh;
    margin: auto;
    margin-top: 40px;
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
}