body {
    background: url("WWII,_Europe,_France,_'German_POWs_-_Fearful_Youth'_-_NARA_-_195463.jpg") center fixed;
    background-size: 101.7% auto;
    margin: 0;
}

audio {
    display: none;
}
.box1 {
    background-color: #1a1a1a;
    border-style: double;
    border-color: gray;
}

#p1f1 {
    position: relative;
    color: #d9d9d9;
    font-family: monospace;
    text-align: center;
    line-height: 72px;
}

#p1b1 {
    margin: auto;
    margin-top: 50vh;
    margin-left: 65vh;
    width: 80vh;
    height: 10vh;
    overflow: hidden;
}