body {
    background-image: url("https://i.imgur.com/G4nomNL.jpg");
    background-size: auto;
}

p {
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
}

h1 {
    font-family: serif;
    font-size: 70px;
    text-align: center;
    color: #d9d9d9;
    text-decoration-line: none;
    position: relative;
}

div {
    width: 700px;
    height: 896px;
    margin: auto;
    margin-top: 40px;
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
}

.contbox {
    width: 130px;
    height: 50px;
    position: relative;
    left: 300px;
    bottom: 100px;
}

.conttext {
    position: relative;
    bottom: 16px;
    right: 1px;
    font-size: 17px;
}

img {
    display: block;
    margin: auto;
    position:relative;
    bottom: 20px;
}

a {
    text-decoration: none;
    color: #d9d9d9
}