body {
    background-image: url("https://i.imgur.com/G4nomNL.jpg");
    background-size: auto;
}

p {
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
}

#frontpageparagraph {
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
}

#frontpageicon {
    font-family: serif;
    font-size: 70px;
    text-align: center;
    color: #d9d9d9;
    text-decoration-line: none;
    position: relative;
}

#copyright {
    position: relative;
    font-family: monospace;
    text-align: center;
    margin: 30px;
    color: #d9d9d9;
    top: 90px;
}

.none {
    width: 700px;
    height: 896px;
    margin: auto;
    margin-top: 40px;
}

.box {
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
}

#frontpagebox {
    width: 700px;
    height: 896px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}

#page2box1 {
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 50px;
}

#contbox {
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
    width: 130px;
    height: 50px;
    position: relative;
    left: 590px;
    bottom: 140px;
}

#conttext {
    position: relative;
    bottom: 16px;
    right: 1px;
    font-size: 17px;
}

#globe {
    display: block;
    margin: auto;
    position: relative;
    top: 60px;
}

a:hover {
    background-color: #d9d9d9;
    color: #1a1a1a;
}

a {
    text-decoration: none;
    color: #d9d9d9;
}

#links {
    padding-left: 0;
    font-family: monospace;
    color: #d9d9d9;
    list-style-type: none;
    line-height: 90px;
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.underline {
  border-bottom: 1px dashed #d9d9d9;
  display: inline;
}